@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    University of Dhaka<br />
    Amar Ekushey Hall, S-206<br />
    <abbr title="Phone">Phone: </abbr>
    +8801719777198
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mahbub.apece@gmail.com">Support@example.com</a><br />
</address>